@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import "font-awesome-sprockets";
@import "font-awesome";
/* step1: */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Libre Baskerville', serif;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.title{
    padding: 10px;
    text-align: center;
}
.name{
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  margin: 20px auto;
  width: 300px;
  /* animation: animatedgradient 3s ease infinite; */
}

#profile img{
    width: 60%;
    min-height: 250px;
    margin: 0 20%;
}
#profile p{
    margin: 20px;
    color:#777777;
    font-size: 14px;
    line-height:1.75;
    text-align: justify;
}
#profile, #skills{
    background-color: white;
    min-height: 600px;
}
#projects, #contact{
    background-color: #eeeeee;
    min-height: 1020px;
}

/* step2: style projects */
#projects h2{
    margin: 20px;
    text-align:center;
}
#projects a{
    /* padding: 300px; */
    position: relative;
    bottom:10px;
    padding: 33%;
}

.project{
    background-color: white;
    margin:10px 10px;
    min-height: 250px;
}
.project img{
    width: 100%;
}

/* step3: Style skills */

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}
.skill img{
    width: 48%;
    margin: 8px 0;
    border:1px solid grey;
}


/* Media Queries */
/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  #profile, #skills{min-height: 400px;}
  #profile p{font-size: 1.7em;}
  #profile h1{font-size: 3.5em;}
  #projects h1{text-align: center; font-size:2.7em; padding-top: 30px;}
  #projects {min-height: 1900px;}
  .project h2, a{font-size: 2.3em;}
  .skill img{width: 33%;}

}
@media only screen and (min-width: 769px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}